<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VaydiCure</title>
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/Mainpage.css" />
  
  <body>
    <div class="container">
      <div class="header">
        <img class="img1" src="static/logo.png" alt="logo" />
        <img class="img2" src="static/name.png" alt="name" />
      </div>
      <div class="background">
        <img src="static/logo.png" alt="#" class="BackgroundImg" />
      </div>
      <p class="para">Vaydicure – Your Personalized AI Health Partner!</p>
      <div class="features">
        <a class="deco" href="medicine/">
        <div class="feature-card">
          <h2>Medicine Search</h2>
          <p>Your Health, Your Medicine - One Search, Instant Care</p>
        </div>
        </a>
        <a class="deco" href="appointment/">
        <div class="feature-card">
          <h2>Appointment Book</h2>
          <p>Book or Reschedule Doctor Appointments Instantly, Anytime</p>
        </div>
        </a>
        <a class="deco" href="urgentcare/">
        <div class="feature-card">
          <h2>Urgent Care</h2>
          <p>Urgent Care, Instant Appointment Help When You Need It</p>
        </div>
        </a>
      </div>
      <div class="footer">© Team Astra</div>
    </div>
  </body>
</html>
